.about-box {
  color: #ffffff;
  background-color: #000000;
  padding: 0 10px;
  display: inline-block;
  margin-bottom: 2px;

  a,
  a:hover {
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
  }
}

.about-1 {
  font-size: 3em;
  font-weight: 600;
  @media screen and (min-width: $break-desktop-1) {
    font-size: 5em;
    font-weight: 600;
  }
}

.about-2,
.about-3 {
  font-size: 1.8em;
  font-weight: 400;
  @media screen and (min-width: $break-desktop-1) {
    font-size: 2.4em;
    font-weight: 400;
  }
}

.about-4,
.about-5 {
  font-size: 1.2em;
  @media screen and (min-width: $break-desktop-1) {
    font-size: 1.6em;
  }
}

.about-6 {
  font-size: 1.2em;
  margin-right: 2px;
  @media screen and (min-width: $break-desktop-1) {
    font-size: 1.6em;
    margin-right: 2px;
  }
}

.about-like {
  color: #b3cb3d;
}