// CONFIGURATION
$share-buttons-show-after: 5s;
$share-buttons-height: 60px;

// STYLES
.news {
  .comments,
  .category-tree {
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      height: 36px;
      height: 2 * $font-size-paragraph;
      z-index: 1;
      opacity: 0;

      &:checked {
        & ~ .comments-disqus,
        & ~ ul {
          display: none;
        }
        & ~ i {
          &:before {
            transform: translate(13px, 1px) rotate(-45deg);
          }

          &:after {
            transform: translate(18px, 1px) rotate(45deg);
          }
        }
      }
    }

    h2 {
      display: inline-block;
      font-family: $menu-font-stack;
      font-size: 16px;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: $font-size-paragraph (0.5 * $font-size-paragraph);
    }

    i {
      transform: translate(-6px, 0);
      transition: all 0.25s ease-in-out;
      display: inline-block;
      margin-right: 18px;

      &:before, &:after {
        content: "";
        background-color: $dark-grey;
        width: 3px;
        height: 13px;
        display: inherit;
      }
      &:before {
        transform: translate(13px, 1px) rotate(45deg);
      }
      &:after {
        transform: translate(18px, 1px) rotate(-45deg);
      }
    }
  }

  ul.f3-widget-paginator,
  ul.categories {
    list-style: none;
    margin: 0 0 $font-size-paragraph 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .news-list-view {
    .page-navigation,
    .article {
      padding: 0 15px $font-size-paragraph 15px;
      @media screen and (min-width: $break-desktop-1) {
        padding: $content-container-tiny-padding-1;
        padding-bottom: 0.5 * $content-container-tiny-padding-1;
      }
      @media screen and (min-width: $break-desktop-2) {
        padding: $content-container-tiny-padding-2;
        padding-bottom: 0.5 * $content-container-tiny-padding-2;
      }
      @media screen and (min-width: $break-desktop-3) {
        padding: $content-container-tiny-padding-3;
        padding-bottom: 0.5 * $content-container-tiny-padding-3;
      }
      .news-img-wrap {
        margin: 0 -15px;
        @media screen and (min-width: $break-desktop-1) {
          margin: 0;
        }
      }
    }
  }

  i.arrow-next {
    transform: translate(-6px, 0);
    transition: all 0.25s ease-in-out;
    display: inline-block;
    margin-right: 21px;

    &:before, &:after {
      content: "";
      background-color: #337ab7;
      width: 3px;
      height: 13px;
      display: inherit;
    }
    &:before {
      transform: translate(17px, -3px) rotate(-45deg);
    }
    &:after {
      transform: translate(14px, 5px) rotate(45deg);
    }
  }
  i.arrow-prev {
    transform: translate(-6px, 0);
    transition: all 0.25s ease-in-out;
    display: inline-block;
    margin-right: 21px;

    &:before, &:after {
      content: "";
      background-color: #337ab7;
      width: 3px;
      height: 13px;
      display: inherit;
    }
    &:before {
      transform: translate(17px, -3px) rotate(45deg);
    }
    &:after {
      transform: translate(14px, 5px) rotate(-45deg);
    }
  }
}

.news-single,
.news-list-view {
  .article {
    &:nth-child(2n) {
      background-color: $very-light-grey;
    }
    .news-img-wrap {
      @media screen and (min-width: $break-desktop-1) {
        margin-bottom: 3 * $font-size-paragraph;
      }
    }
    .header {
      h2 {
        margin-bottom: 0;
      }
      .subheader {
        margin-left: $font-size-paragraph;
        span {
          display: inline-block;
          font-family: $menu-font-stack;
          font-size: 16px;
          font-size: 1.6rem;
          font-weight: bold;
        }
        span.date {
          display: block;
        }
        a {
          margin-right: 5px;
        }
      }
    }
    .teaser-text {
      p.bodytext {
        margin-top: $font-size-paragraph;
        span.increased-first-letter {
          font-size: inherit;
          float: inherit;
          font-weight: inherit;
          margin: inherit;
          height: inherit;
          max-height: inherit;
          line-height: inherit;
        }
      }
    }
    ul.categories {
      margin-top: $font-size-paragraph;
      margin-bottom: 2 * $font-size-paragraph;
      @media screen and (min-width: $break-desktop-1) {
        margin-top: 2 * $font-size-paragraph;
        margin-bottom: $font-size-paragraph;
      }
    }
  }
  .page-navigation {
    margin-top: $font-size-paragraph;
    @media screen and (min-width: $break-desktop-1) {
      margin-top: 0;
    }
    @media screen and (min-width: $break-desktop-1) {
      padding-top: 0.5 * $content-container-tiny-padding-1!important;
    }
    @media screen and (min-width: $break-desktop-2) {
      padding-top: 0.5 * $content-container-tiny-padding-2!important;
    }
    @media screen and (min-width: $break-desktop-3) {
      padding-top: 0.5 * $content-container-tiny-padding-3!important;
    }
    p {
      display: inline-block;
      margin: 0;
    }
    .f3-widget-paginator {
      margin: 0;
      float: right;
    }
  }
}

.news-single {
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (min-width: $break-desktop-1) {
    margin-left: 0;
    margin-right: 0;
  }
  .article {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: $share-buttons-height - 10px;
    @media screen and (min-width: $break-desktop-1) {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .extended-width-no-margin-t {
    margin-bottom: $font-size-paragraph;
    @media screen and (min-width: $break-desktop-1) {
      margin-bottom: 4 * $font-size-paragraph;
    }
  }
  .header {
    @media screen and (min-width: $break-desktop-1) {
      margin: 4 * $font-size-paragraph 15px;
    }
  }
  .news-text-wrap {
    @media screen and (min-width: $break-desktop-1) {
      padding: 0;
    }
  }
  .news-backlink-wrap {
    a {
      font-family: $menu-font-stack;
      font-size: 16px;
      font-size: 1.6rem;
      text-transform: uppercase;
    }
  }
  .footer {
    padding: $font-size-paragraph 15px;
    @media screen and (min-width: $break-desktop-1) {
      padding: (0.5 * $content-container-tiny-padding-1) $content-container-tiny-padding-1;
    }
    @media screen and (min-width: $break-desktop-2) {
      padding: (0.5 * $content-container-tiny-padding-2) $content-container-tiny-padding-2;
    }
    @media screen and (min-width: $break-desktop-3) {
      padding: (0.5 * $content-container-tiny-padding-3) $content-container-tiny-padding-3;
    }
  }
  .comments {
    padding: 0 15px;
    @media screen and (min-width: $break-desktop-1) {
      padding: 15px $content-container-tiny-padding-1;
    }
    @media screen and (min-width: $break-desktop-2) {
      padding: 15px $content-container-tiny-padding-2;
    }
    @media screen and (min-width: $break-desktop-3) {
      padding: 15px $content-container-tiny-padding-3;
    }
  }
  .share-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    overflow: hidden;

    @media screen and (min-width: $break-desktop-1) {
      left: 0;
      top: 30%;
      -moz-animation: showAfterFiveSeconds 0s ease-in $share-buttons-show-after forwards;
      -webkit-animation: showAfterFiveSeconds 0s ease-in $share-buttons-show-after forwards;
      -o-animation: showAfterFiveSeconds 0s ease-in $share-buttons-show-after forwards;
      animation: showAfterFiveSeconds 0s ease-in $share-buttons-show-after forwards;
    }

    -moz-animation: showAfterFiveSeconds100percent 0s ease-in $share-buttons-show-after forwards;
    -webkit-animation: showAfterFiveSeconds100percent 0s ease-in $share-buttons-show-after forwards;
    -o-animation: showAfterFiveSeconds100percent 0s ease-in $share-buttons-show-after forwards;
    animation: showAfterFiveSeconds100percent 0s ease-in $share-buttons-show-after forwards;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    @keyframes showAfterFiveSeconds {
      to {
        height: auto;
        width: auto;
        overflow: visible;

      }
    }
    @-webkit-keyframes showAfterFiveSeconds {
      to {
        height: auto;
        width: auto;
        overflow: visible;
      }
    }

    @keyframes showAfterFiveSeconds100percent {
      to {
        height: auto;
        width: 100%;
        overflow: visible;

      }
    }
    @-webkit-keyframes showAfterFiveSeconds100percent {
      to {
        height: auto;
        width: 100%;
        overflow: visible;
      }
    }

    h2 {
      display: none;
      color: $white;
      background-color: $menu-background-color;
      width: $share-buttons-height;
      text-align: center;
      margin: 0;
      padding: 5px 0;
      font-size: 1.2rem;
      line-height: 1.2rem;
      vertical-align: baseline;
      font-weight: bold;
      text-transform: uppercase;
      @media screen and (min-width: $break-desktop-1) {
        display: block;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: block;
      width: 100%;
      @media screen and (min-width: $break-desktop-1) {
        width: $share-buttons-height;
      }

      li {
        display: block;
        float: left;
        margin: 0;
        padding: 0;
        width: 25%;
        height: $share-buttons-height - 10px;
        @media screen and (min-width: $break-desktop-1) {
          float: none;
          width: $share-buttons-height;
          height: $share-buttons-height;
        }
        a {
          font-size: 24px;
          font-size: 2.4rem;
          color: $white;
          width: 100%;
          @media screen and (min-width: $break-desktop-1) {
            width: $share-buttons-height;
            height: $share-buttons-height;
            line-height: $share-buttons-height - 10px;
          }
          height: $share-buttons-height - 10px;
          text-align: center;
          display: block;
          vertical-align: baseline;
          line-height: $share-buttons-height;
        }
      }
    }
  }
}