.news {
  .comments,
  .category-tree {
    input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 36px;
      height: 2 * $font-size-paragraph;
      z-index: 1;
      opacity: 0;

      &:checked {
        & ~ .comments-disqus,
        & ~ ul {
          display: none;
        }
        & ~ i {
          &:before {
            transform: translate(13px, 1px) rotate(-45deg);
          }

          &:after {
            transform: translate(18px, 1px) rotate(45deg);
          }
        }
      }
    }

    h2 {
      display: inline-block;
      font-family: $menu-font-stack;
      font-size: 16px;
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: $font-size-paragraph (0.5 * $font-size-paragraph);
    }

    i {
      transform: translate(-6px, 0);
      transition: all 0.25s ease-in-out;
      display: inline-block;
      margin-right: 18px;

      &:before, &:after {
        content: "";
        background-color: $dark-grey;
        width: 3px;
        height: 13px;
        display: inherit;
      }
      &:before {
        transform: translate(13px, 1px) rotate(45deg);
      }
      &:after {
        transform: translate(18px, 1px) rotate(-45deg);
      }
    }
  }

  ul.f3-widget-paginator,
  ul.categories {
    list-style: none;
    margin: 0 0 $font-size-paragraph 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .news-list-view {
    .page-navigation,
    .article {
      @media screen and (min-width: $break-desktop-1) {
        padding: $content-container-tiny-padding-1;
        padding-bottom: 0.5 * $content-container-tiny-padding-1;
      }
      @media screen and (min-width: $break-desktop-2) {
        padding: $content-container-tiny-padding-2;
        padding-bottom: 0.5 * $content-container-tiny-padding-2;
      }
      @media screen and (min-width: $break-desktop-3) {
        padding: $content-container-tiny-padding-3;
        padding-bottom: 0.5 * $content-container-tiny-padding-3;
      }
    }
  }
}

.news-single,
.news-list-view {
  .article {
    &:nth-child(2n) {
      background-color: $very-light-grey;
    }
    .news-img-wrap {
      margin-bottom: 3 * $font-size-paragraph;
    }
    .header {
      position: relative;
      width: 100%;
      h2 {
        margin-bottom: 0;
      }
      .subheader {
        margin-left: $font-size-paragraph;
        span {
          display: inline-block;
          font-family: $menu-font-stack;
          font-size: 16px;
          font-size: 1.6rem;
          font-weight: bold;
        }
        span.date {
          display: block;
        }
        a {
          margin-right: 5px;
        }
      }
    }
    .teaser-text {
      p.bodytext {
        margin-top: $font-size-paragraph;
        span.increased-first-letter {
          font-size: inherit;
          float: inherit;
          font-weight: inherit;
          margin: inherit;
          height: inherit;
          max-height: inherit;
          line-height: inherit;
        }
      }
    }
    ul.categories {
      margin-top: 2 * $font-size-paragraph;
    }
  }
  .page-navigation {
    @media screen and (min-width: $break-desktop-1) {
      padding-top: 0.5 * $content-container-tiny-padding-1!important;
    }
    @media screen and (min-width: $break-desktop-2) {
      padding-top: 0.5 * $content-container-tiny-padding-2!important;
    }
    @media screen and (min-width: $break-desktop-3) {
      padding-top: 0.5 * $content-container-tiny-padding-3!important;
    }
    p {
      display: inline-block;
      margin: 0;
    }
    .f3-widget-paginator {
      margin: 0;
      float: right;
    }
  }
}

.news-single {
  .extended-width-no-margin-t {
    margin-bottom: 4 * $font-size-paragraph;
  }
  .header {
    margin-top: 4 * $font-size-paragraph;
    margin-bottom: 4 * $font-size-paragraph;
  }
  .footer {
    padding: 15px;
    @media screen and (min-width: $break-desktop-1) {
      padding: (0.5 * $content-container-tiny-padding-1) $content-container-tiny-padding-1;
    }
    @media screen and (min-width: $break-desktop-2) {
      padding: (0.5 * $content-container-tiny-padding-2) $content-container-tiny-padding-2;
    }
    @media screen and (min-width: $break-desktop-3) {
      padding: (0.5 * $content-container-tiny-padding-3) $content-container-tiny-padding-3;
    }
  }
  .comments {
    padding: 15px;
    @media screen and (min-width: $break-desktop-1) {
      padding: 15px $content-container-tiny-padding-1;
    }
    @media screen and (min-width: $break-desktop-2) {
      padding: 15px $content-container-tiny-padding-2;
    }
    @media screen and (min-width: $break-desktop-3) {
      padding: 15px $content-container-tiny-padding-3;
    }
  }
}