.base-letter-spacing {
  letter-spacing: 0.04rem;
}

h1 {
  @extend .base-letter-spacing;
  font-size: 26px;
  font-size: 2.6rem;
  clear: left;
  border-bottom: 1px solid #848484;
}
h2 {
  @extend .base-letter-spacing;
  font-size: 24px;
  font-size: 2.4rem;
  clear: left;
}
h3 {
  @extend .base-letter-spacing;
  font-size: 20px;
  font-size: 2rem;
  clear: left;
  font-weight: bold;
}
h4 {
  @extend .base-letter-spacing;
  font-size: 20px;
  font-size: 2.0rem;
  clear: left;
}
h5 {
  @extend .base-letter-spacing;
  font-size: 18px;
  font-size: 1.8rem;
  clear: left;
}
h6 {
  @extend .base-letter-spacing;
  font-size: 16px;
  font-size: 1.6rem;
  clear: left;
}

.csc-default,
.csc-wide,
.csc-default-lbr-padding,
.csc-default-ltr-padding,
.csc-default-lr-padding,
.csc-wide-lbr-padding,
.csc-wide-ltr-padding,
.csc-wide-lr-padding,
ol,
ul,
p {
  @extend .base-letter-spacing;
  font-size: 19px;
  font-size: 1.9rem;
}

p.bodytext {
  margin: $paragraph-margin 0;
}

blockquote.align-right,
p.align-right { text-align: right; }
blockquote.align-left,
p.align-left { text-align: left; }
blockquote.align-center,
p.align-center { text-align: center; }
blockquote.align-justify,
p.align-justify { text-align: justify; }

/* Allow a first letter to be larger than the res of the paragraph */
span.increased-first-letter {
  font-size: $font-size-increased-first-letter;
  float: left;
  font-weight: bold;
  margin: $increased-first-letter-padding;
  height: $font-size-increased-first-letter;
  max-height: $font-size-increased-first-letter;
  line-height: 1;
}

/* Blockquote styles */
blockquote {
  margin: $blockquote-margin;
  font-size: $font-size-blockquote;
  font-family: $quote-font-stack;
}
blockquote p.quote {
  display: inline-block;
  font-size: $font-size-blockquote;
  margin: 0;
}
blockquote p.quote:before {
  content: '\201C';
  margin-right: $blockquote-quotes-margin;
}
blockquote p.quote:after {
  content: '\201D';
  margin-left: $blockquote-quotes-margin;
}
blockquote p.author {
  margin: 0;
  text-align: right;
  font-family: $menu-font-stack;
  font-size: $font-size-blockquote-author;
  font-weight: 300;
}
blockquote.align-right p.author {
  text-align: left;
}

/* Captions */
.caption,
span.caption,
p.caption {
  margin: 0;
  padding: 0.15rem 2.7rem 0.35rem 2.7rem;
  font-size: 1.4rem;
  font-family: $menu-font-stack;
  background-color: $light-grey;
  color: $black;
}

/* Allow containers that are wider than parent */
.extended-width,
p.extended-width {
  background-color: $light-grey;
  margin: $paragraph-margin;
}

.csc-default,
.csc-default-lbr-padding,
.csc-default-ltr-padding,
.csc-default-lr-padding {
  .extended-width {
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (min-width: $break-desktop-1) {
      margin-left: -$content-container-tiny-padding-1;
      margin-right: -$content-container-tiny-padding-1;
      .caption {
        padding-left: $content-container-tiny-padding-1 / 2;
        padding-right: $content-container-tiny-padding-1 / 2;
      }
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-left: -$content-container-tiny-padding-2;
      margin-right: -$content-container-tiny-padding-2;
      .caption {
        padding-left: $content-container-tiny-padding-2 / 2;
        padding-right: $content-container-tiny-padding-2 / 2;
      }
    }
    @media screen and (min-width: $break-desktop-3) {
      margin: 5.4rem 0;
      margin-left: -$content-container-tiny-padding-3;
      margin-right: -$content-container-tiny-padding-3;
      .caption {
        padding-left: $content-container-tiny-padding-3 / 2;
        padding-right: $content-container-tiny-padding-3 / 2;
      }
    }
  }
}
.csc-wide,
.csc-wide-lbr-padding,
.csc-wide-ltr-padding,
.csc-wide-lr-padding {
  .extended-width {
    margin-left: -15px;
    margin-right: -15px;
    @media screen and (min-width: $break-desktop-1) {
      margin-left: -$content-container-page-padding-1;
      margin-right: -$content-container-page-padding-1;
      .caption {
        padding-left: $content-container-page-padding-1 / 2;
        padding-right: $content-container-page-padding-1 / 2;
      }
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-left: -$content-container-page-padding-2;
      margin-right: -$content-container-page-padding-2;
      .caption {
        padding-left: $content-container-page-padding-2 / 2;
        padding-right: $content-container-page-padding-2 / 2;
      }
    }
    @media screen and (min-width: $break-desktop-3) {
      margin: 5.4rem 0;
      margin-left: -$content-container-page-padding-3;
      margin-right: -$content-container-page-padding-3;
      .caption {
        padding-left: $content-container-page-padding-3 / 2;
        padding-right: $content-container-page-padding-3 / 2;
      }
    }
  }
}

.extended-width-no-margin-t,
p.extended-width-no-margin-t {
  @extend .extended-width;
  margin-top: 0 !important;
}
.extended-width-no-margin-b,
p.extended-width-no-margin-b {
  @extend .extended-width;
  margin-bottom: 0 !important;
}
.extended-width-no-margin-tb,
p.extended-width-no-margin-tb {
  @extend .extended-width;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Styling of preformatted text */
pre {
  border: 0;
  border-radius: 0 !important;
  padding: 2.7rem !important;
  margin: $paragraph-margin;
  margin-bottom: 0;
  background-color: $very-light-grey !important;
}

/* Rounded Labels */
.label,
span.label {
  @extend .btn;
  background-color: $light-grey;
  padding: $button-padding;
  color: $dark-grey;
  font-weight: bold;
}
.label:hover,
span.label:hover {
  color: $dark-grey!important;
}

/* Non-Rounded Labels */
.label-angular,
span.label-angular {
  @extend span.label;
  border-radius: 0;
  padding: $button-angular-padding;
}

/* Background & Text Colors */
.label-grey,
span.label-grey {
  background-color: $grey;
  color: white;
}
.label-grey:hover,
span.label-grey:hover {
  color: white!important;
}
.label-very-light-grey,
span.label-very-light-grey {
  background-color: $very-light-grey;
}
.label-dark-grey,
span.label-dark-grey {
  @extend .label-grey;
  background-color: $dark-grey;
}
.label-green,
span.label-green {
  @extend .label-grey;
  background-color: $green;
}
.label-light-green,
p.label-light-green,
span.label-light-green {
  @extend .label-grey;
  background-color: $light-green;
}
.label-lime,
p.label-lime,
span.label-lime {
  @extend .label-grey;
  background-color: $lime;
}
.label-indigo,
span.label-indigo {
  @extend .label-grey;
  background-color: $indigo;
}
.label-blue,
p.label-blue,
span.label-blue {
  @extend .label-grey;
  background-color: $blue;
}
.label-light-blue,
p.label-light-blue,
span.label-light-blue {
  @extend .label-grey;
  background-color: $light-blue;
}
.label-red,
span.label-red {
  @extend .label-grey;
  background-color: $red;
}
.label-yellow,
span.label-yellow {
  @extend .label-grey;
  background-color: $yellow;
}
.label-orange,
span.label-orange {
  @extend .label-grey;
  background-color: $orange;
}
.label-amber,
span.label-amber {
  @extend .label-grey;
  background-color: $amber;
}
.label-black,
span.label-black {
  @extend .label-grey;
  background-color: $black;
}

/* Link Styles */
a.internal {
  text-decoration: none;
  color: $light-green;
  &:hover {
    text-decoration: none;
    color: $lime;
  }
}
a.external {
  @extend .internal;
  &:before {
    content: $icon-external-link;
    font-family: $icon-font-stack;
    font-size: 1.25rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 0.4rem;
    text-decoration: none;
  }
}

/* Alert Boxes */
p.alert-success {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $green;
}
p.alert-info {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $blue;
}
p.alert-warning {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $yellow;
}
p.alert-danger {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $red;
}

/* Images */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Floating Boxes */
p.float-left-block {
  display: block;
  @media screen and (min-width: $break-desktop-1) {
    float: left;
    margin-top: 1.4rem;
    margin-right: 2.7rem;
    margin-bottom: 2.7rem;
    margin-left: -($content-container-tiny-padding-1 / 2);
  }
  @media screen and (min-width: $break-desktop-2) {
    margin-left: -($content-container-tiny-padding-2 / 2);
  }
  @media screen and (min-width: $break-desktop-3) {
    margin-left: -($content-container-tiny-padding-3 / 2);
  }
  img {
    border: 1.8rem solid $very-light-grey;
  }
}
.csc-wide,
.csc-wide-lbr-padding,
.csc-wide-lr-padding,
.csc-wide-ltr-padding {
  .float-left-block {
    @media screen and (min-width: $break-desktop-1) {
      margin-left: -($content-container-page-padding-1 / 2);
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-left: -($content-container-page-padding-2 / 2);
    }
    @media screen and (min-width: $break-desktop-3) {
      margin-left: -($content-container-page-padding-3 / 2);
    }
  }
}
p.float-right-block {
  display: block;
  @media screen and (min-width: $break-desktop-1) {
    float: right !important;
    margin-top: 1.4rem;
    margin-left: 2.7rem;
    margin-bottom: 2.7rem;
    margin-right: -($content-container-tiny-padding-1 / 2);
  }
  @media screen and (min-width: $break-desktop-2) {
    margin-right: -($content-container-tiny-padding-2 / 2);
  }
  @media screen and (min-width: $break-desktop-3) {
    margin-right: -($content-container-tiny-padding-3 / 2);
  }
  img {
    border: 1.8rem solid $very-light-grey;
  }
}
.csc-wide,
.csc-wide-lbr-padding,
.csc-wide-lr-padding,
.csc-wide-ltr-padding {
  .float-right-block {
    @media screen and (min-width: $break-desktop-1) {
      margin-right: -($content-container-page-padding-1 / 2);
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-right: -($content-container-page-padding-2 / 2);
    }
    @media screen and (min-width: $break-desktop-3) {
      margin-right: -($content-container-page-padding-3 / 2);
    }
  }
}

/* Highlighted/marked Text in Paragraph */
span.marked {
  padding: 0.2rem 0.5rem;
  background-color: $light-grey;
}

/* Ordered lists, down to level 3 */
ol {
  list-style-type: decimal;
  margin: $paragraph-margin;
  li {
    ol {
      list-style: lower-latin;
      margin: 0.9rem 0;
      li {
        ol {
          list-style: lower-roman;
          margin: 0.9rem 0;
          li {
            p { display: none; }
          }
          p { display: none; }
        }
        p { display: none; }
      }
      p { display: none; }
    }
    p { display: none; }
  }
  p { display: none; }
}

ul {
  margin: $paragraph-margin;
  li {
    ul {
      margin: 0.9rem 0;
      li {
        ul {
          margin: 0.9rem 0;
          li {
            p { display: none; }
          }
          p { display: none; }
        }
        p { display: none; }
      }
      p { display: none; }
    }
    p { display: none; }
  }
  p { display: none; }
}

ul.no-list-marker {
  padding-left: 0 !important;
  li {
    list-style: none !important;
    margin-bottom: 0.9rem !important;
  }
}

ul.slides {
  p {
    display: block;
  }
}

/* Textmarkierungen: About Me Section */
span.marked-bg-black-fg-white {
  font-size: 2rem;
  display: inline-block;
  font-family: $menu-font-stack;
  background-color: $black;
  color: $white;
  padding: 0.1rem 1.2rem;
  margin-right: 2px;
  margin-bottom: 2px;
  a, a:hover, a:focus {
    color: #b3cb3d;
  }
}

span.marked-bg-black-fg-lime {
  @extend span.marked-bg-black-fg-white;
  color: #b3cb3d;
}

p.font-size-h1,
span.font-size-h1 {
  font-size: 5.0rem;
}
p.font-size-h2,
span.font-size-h2 {
  font-size: 3.8rem;
}
p.font-size-h3,
span.font-size-h3 {
  font-size: 2.6rem;
}
p.font-size-footnote,
span.font-size-footnote {
  font-size: $font-size-blockquote-author;
}

/* Bootstrap Columns */
p.col-md-1 {
  @extend .col-md-1;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-1:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-2 {
  @extend .col-md-2;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-2:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-3 {
  @extend .col-md-3;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-3:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-4 {
  @extend .col-md-4;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-4:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-5 {
  @extend .col-md-5;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-5:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-6 {
  @extend .col-md-6;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-6:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-7 {
  @extend .col-md-7;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-7:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-8 {
  @extend .col-md-8;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-8:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-9 {
  @extend .col-md-9;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-9:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-10 {
  @extend .col-md-10;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-10:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}
p.col-md-11 {
  @extend .col-md-11;
  padding-left: 0 !important;
  padding-right: 0 !important;
  @media screen and (min-width: $break-desktop-1) {
    padding-right: 15px;
  }
}
.col-md-11:not(:first-child) {
  margin-top: 3.6rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-top: 0;
  }
}

/* Header-boxen */
.header-box,
p.header-box {
  height: 100px;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  color: $white;
  font-weight: 400;
  margin-bottom: 3.6rem;
}

/* Icon Font */
.icon-font,
span.icon-font-glyphicons {
  font-family: 'Glyphicons Halflings';
  font-size: 24px;
  vertical-align: top;
  display: inline-block;
}

/* Bilderliste */
p.image-list {
  img {
    display: inline-block !important;
    width: auto !important;
    margin: 0 0.9rem 1.4rem 0 !important;
  }
}

p.image-list-height-1 {
  @extend .image-list;
  img {
    height: 3.6rem !important;
    max-height: 3.6rem !important;
    min-height: 3.6rem !important;
  }
}

p.image-list-height-2 {
  @extend .image-list;
  img {
    height: 7.2rem !important;
    max-height: 7.2rem !important;
    min-height: 7.2rem !important;
  }
}

p.indent {
  margin: 3.6rem 1.8rem;
  @media screen and (min-width: $break-desktop-1) {
    padding-left: 3.6rem;
    margin: $paragraph-margin;
  }
}