.base-letter-spacing {
  letter-spacing: 0.04rem;
}

h1, .h1 {
  @extend .base-letter-spacing;
  font-size: 26px;
  font-size: 2.6rem;
  border-bottom: 1px solid #848484;
}
h2, .h2 {
  @extend .base-letter-spacing;
  font-size: 24px;
  font-size: 2.4rem;
  color: #b3cb3d;
}
h3, .h3 {
  @extend .base-letter-spacing;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
}
h4, .h4 {
  @extend .base-letter-spacing;
  font-size: 20px;
  font-size: 2.0rem;
}
h5, .h5 {
  @extend .base-letter-spacing;
  font-size: 18px;
  font-size: 1.8rem;
}
h6, .h6 {
  @extend .base-letter-spacing;
  font-size: 16px;
  font-size: 1.6rem;
}

.csc-default,
.csc-wide,
.csc-default-lbr-padding,
.csc-default-ltr-padding,
.csc-default-lr-padding,
.csc-wide-lbr-padding,
.csc-wide-ltr-padding,
.csc-wide-lr-padding,
ol,
ul,
p {
  @extend .base-letter-spacing;
  font-size: 19px;
  font-size: 1.9rem;
}

p.bodytext {
  margin: $paragraph-margin 0;
}

blockquote.align-right,
p.align-right { text-align: right; }
blockquote.align-left,
p.align-left { text-align: left; }
blockquote.align-center,
p.align-center { text-align: center; }
blockquote.align-justify,
p.align-justify { text-align: justify; }

/* Allow a first letter to be larger than the res of the paragraph */
span.increased-first-letter {
  font-size: $font-size-increased-first-letter;
  float: left;
  font-weight: bold;
  margin: $increased-first-letter-padding;
  height: $font-size-increased-first-letter;
  max-height: $font-size-increased-first-letter;
  line-height: 1;
}

/* Blockquote styles */
blockquote {
  margin: $blockquote-margin;
  font-size: $font-size-blockquote;
  font-family: $quote-font-stack;
}
blockquote p.quote {
  display: inline-block;
  font-size: $font-size-blockquote;
  margin: 0;
}
blockquote p.quote:before {
  content: '\201C';
  margin-right: $blockquote-quotes-margin;
}
blockquote p.quote:after {
  content: '\201D';
  margin-left: $blockquote-quotes-margin;
}
blockquote p.author {
  margin: 0;
  text-align: right;
  font-family: $menu-font-stack;
  font-size: $font-size-blockquote-author;
  font-weight: 300;
}
blockquote.align-right p.author {
  text-align: left;
}

/* Captions */
.caption,
p.caption {
  margin: 0;
  padding: 0.15rem 2.7rem 0.35rem 2.7rem;
  font-size: 1.4rem;
  font-family: $menu-font-stack;
  background-color: $light-grey;
  color: $black;
}

/* Allow containers that are wider than parent */
div.extended-width {
  margin: 2.7rem 0;
  background-color: $very-light-grey;
}

.csc-default,
.csc-default-lbr-padding,
.csc-default-ltr-padding,
.csc-default-lr-padding {
  div.extended-width {
    @media screen and (min-width: $break-desktop-1) {
      margin-left: -$content-container-tiny-padding-1;
      margin-right: -$content-container-tiny-padding-1;
      .caption {
        padding-left: -($content-container-tiny-padding-1 / 2);
        padding-right: -($content-container-tiny-padding-1 / 2);
      }
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-left: -$content-container-tiny-padding-2;
      margin-right: -$content-container-tiny-padding-2;
      .caption {
        padding-left: -($content-container-tiny-padding-2 / 2);
        padding-right: -($content-container-tiny-padding-2 / 2);
      }
    }
    @media screen and (min-width: $break-desktop-3) {
      margin: 5.4rem 0;
      margin-left: -$content-container-tiny-padding-3;
      margin-right: -$content-container-tiny-padding-3;
      .caption {
        padding-left: -($content-container-tiny-padding-3 / 2);
        padding-right: -($content-container-tiny-padding-3 / 2);
      }
    }
  }
}
.csc-wide,
.csc-wide-lbr-padding,
.csc-wide-ltr-padding,
.csc-wide-lr-padding {
  div.extended-width {
    @media screen and (min-width: $break-desktop-1) {
      margin-left: -$content-container-page-padding-1;
      margin-right: -$content-container-page-padding-1;
      .caption {
        padding-left: -($content-container-page-padding-1 / 2);
        padding-right: -($content-container-page-padding-1 / 2);
      }
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-left: -$content-container-page-padding-2;
      margin-right: -$content-container-page-padding-2;
      .caption {
        padding-left: -($content-container-page-padding-2 / 2);
        padding-right: -($content-container-page-padding-2 / 2);
      }
    }
    @media screen and (min-width: $break-desktop-3) {
      margin: 5.4rem 0;
      margin-left: -$content-container-page-padding-3;
      margin-right: -$content-container-page-padding-3;
      .caption {
        padding-left: -($content-container-page-padding-3 / 2);
        padding-right: -($content-container-page-padding-3 / 2);
      }
    }
  }
}

/* Styling of preformatted text */
pre {
  border: 0;
  border-radius: 0 !important;
  padding: 2.7rem !important;
  margin: $paragraph-margin;
  margin-bottom: 0;
  background-color: $very-light-grey !important;
}

/* Rounded Labels */
span.label {
  @extend .btn;
  background-color: $light-grey;
  padding: $button-padding;
  color: $dark-grey;
  font-weight: normal;
}
span.label:hover {
  color: $dark-grey!important;
}
span.label-grey {
  @extend .label;
  background-color: $grey;
  color: white;
}
span.label-grey:hover {
  color: white!important;
}
span.label-very-light-grey {
  @extend .label;
  background-color: $very-light-grey;
}
span.label-dark-grey {
  @extend .label-grey;
  background-color: $dark-grey;
}
span.label-green {
  @extend .label-grey;
  background-color: $green;
}
span.label-light-green {
  @extend .label-grey;
  background-color: $light-green;
}
span.label-lime {
  @extend .label-grey;
  background-color: $lime;
}
span.label-indigo {
  @extend .label-grey;
  background-color: $indigo;
}
span.label-blue {
  @extend .label-grey;
  background-color: $blue;
}
span.label-light-blue {
  @extend .label-grey;
  background-color: $light-blue;
}
span.label-red {
  @extend .label-grey;
  background-color: $red;
}
span.label-yellow {
  @extend .label-grey;
  background-color: $yellow;
}
span.label-orange {
  @extend .label-grey;
  background-color: $orange;
}
span.label-amber {
  @extend .label-grey;
  background-color: $amber;
}
span.label-black {
  @extend .label-grey;
  background-color: $black;
}

/* Non-Rounded Labels */
/* Rounded Labels */
span.label-angular {
  @extend .label;
  border-radius: 0;
  background-color: $light-grey;
  padding: $button-angular-padding;
  color: $dark-grey;
}
span.label-angular:hover {
  color: $dark-grey!important;
}
span.label-angular-grey {
  @extend .label-angular;
  background-color: $grey;
  color: white;
}
span.label-angular-grey:hover {
  color: white!important;
}
span.label-angular-very-light-grey {
  @extend .label-angular;
  background-color: $very-light-grey;
}
span.label-angular-dark-grey {
  @extend .label-angular-grey;
  background-color: $dark-grey;
}
span.label-angular-green {
  @extend .label-angular-grey;
  background-color: $green;
}
span.label-angular-light-green {
  @extend .label-angular-grey;
  background-color: $light-green;
}
span.label-angular-lime {
  @extend .label-angular-grey;
  background-color: $lime;
}
span.label-angular-indigo {
  @extend .label-angular-grey;
  background-color: $indigo;
}
span.label-angular-blue {
  @extend .label-angular-grey;
  background-color: $blue;
}
span.label-angular-light-blue {
  @extend .label-angular-grey;
  background-color: $light-blue;
}
span.label-angular-red {
  @extend .label-angular-grey;
  background-color: $red;
}
span.label-angular-yellow {
  @extend .label-angular-grey;
  background-color: $yellow;
}
span.label-angular-orange {
  @extend .label-angular-grey;
  background-color: $orange;
}
span.label-angular-amber {
  @extend .label-angular-grey;
  background-color: $amber;
}
span.label-angular-black {
  @extend .label-angular-grey;
  background-color: $black;
}

/* Link Styles */
a.internal {
  text-decoration: none;
  color: $light-green;
  &:hover {
    text-decoration: none;
    color: $lime;
  }
}
a.external {
  @extend .internal;
  &:before {
    content: $icon-external-link;
    font-family: $icon-font-stack;
    font-size: 1.25rem;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding-right: 0.4rem;
    text-decoration: none;
  }
}

/* Alert Boxes */
p.alert-success {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $green;
}
p.alert-info {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $blue;
}
p.alert-warning {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $yellow;
}
p.alert-danger {
  @extend .alert;
  border-radius: 0;
  border-left: 5px solid $red;
}

/* Images */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Floating Boxes */
.float-left-block {
  display: block;
  float: left;
  margin-left: -($content-container-tiny-padding / 2);
  margin-top: 1.4rem;
  margin-right: 2.7rem;
  margin-bottom: 2.7rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-left: -($content-container-tiny-padding-1 / 2);
  }
  @media screen and (min-width: $break-desktop-2) {
    margin-left: -($content-container-tiny-padding-2 / 2);
  }
  @media screen and (min-width: $break-desktop-3) {
    margin-left: -($content-container-tiny-padding-3 / 2);
  }
  img {
    border: 1.8rem solid $very-light-grey;
  }
}
.csc-wide,
.csc-wide-lbr-padding,
.csc-wide-lr-padding,
.csc-wide-ltr-padding {
  .float-left-block {
    margin-left: -($content-container-page-padding / 2);
    @media screen and (min-width: $break-desktop-1) {
      margin-left: -($content-container-page-padding-1 / 2);
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-left: -($content-container-page-padding-2 / 2);
    }
    @media screen and (min-width: $break-desktop-3) {
      margin-left: -($content-container-page-padding-3 / 2);
    }
  }
}
.float-left-25,
p.float-left-25 {
  @extend .float-left-block;
  width: 25%;
}
.float-left-33,
p.float-left-33 {
  @extend .float-left-block;
  width: 33.33%;
}
.float-left-40,
p.float-left-40 {
  @extend .float-left-block;
  width: 40%;
}
.float-left-50,
p.float-left-50 {
  @extend .float-left-block;
  width: 50%;
}
.float-right-block {
  display: block;
  float: right;
  margin-right: -($content-container-tiny-padding / 2);
  margin-top: 1.4rem;
  margin-left: 2.7rem;
  margin-bottom: 2.7rem;
  @media screen and (min-width: $break-desktop-1) {
    margin-right: -($content-container-tiny-padding-1 / 2);
  }
  @media screen and (min-width: $break-desktop-2) {
    margin-right: -($content-container-tiny-padding-2 / 2);
  }
  @media screen and (min-width: $break-desktop-3) {
    margin-right: -($content-container-tiny-padding-3 / 2);
  }
  img {
    border: 1.8rem solid $very-light-grey;
  }
}
.csc-wide,
.csc-wide-lbr-padding,
.csc-wide-lr-padding,
.csc-wide-ltr-padding {
  .float-right-block {
    margin-right: -($content-container-page-padding / 2);
    @media screen and (min-width: $break-desktop-1) {
      margin-right: -($content-container-page-padding-1 / 2);
    }
    @media screen and (min-width: $break-desktop-2) {
      margin-right: -($content-container-page-padding-2 / 2);
    }
    @media screen and (min-width: $break-desktop-3) {
      margin-right: -($content-container-page-padding-3 / 2);
    }
  }
}
.float-right-25,
p.float-right-25 {
  @extend .float-right-block;
  width: 25%;
}
.float-right-33,
p.float-right-33 {
  @extend .float-right-block;
  width: 33.33%;
}
.float-right-40,
p.float-right-40 {
  @extend .float-right-block;
  width: 40%;
}
.float-right-50,
p.float-right-50 {
  @extend .float-right-block;
  width: 50%;
}

/* Highlighted/marked Text in Paragraph */
span.marked {
  padding: 0.2rem 0.5rem;
  background-color: $light-grey;
}

/* Ordered lists, down to level 3 */
ol {
  list-style-type: decimal;
  margin: $paragraph-margin;
  li {
    ol {
      list-style: lower-latin;
      margin: 0.9rem 0;
      li {
        ol {
          list-style: lower-roman;
          margin: 0.9rem 0;
          li {
            p { display: none; }
          }
          p { display: none; }
        }
        p { display: none; }
      }
      p { display: none; }
    }
    p { display: none; }
  }
  p { display: none; }
}

ul {
  margin: $paragraph-margin;
  li {
    ul {
      margin: 0.9rem 0;
      li {
        ul {
          margin: 0.9rem 0;
          li {
            p { display: none; }
          }
          p { display: none; }
        }
        p { display: none; }
      }
      p { display: none; }
    }
    p { display: none; }
  }
  p { display: none; }
}