$header-background-color: #292929;
$menu-background-color: #292929;

$white: #ffffff;
$grey: #9e9e9e;
$light-grey: #eeeeee;
$very-light-grey: #f9f9f9;
$dark-grey: #616161;
$green: #4caf50;
$light-green: #8bc34a;
$lime: #cddc39;
$indigo: #3f51b5;
$blue: #2196f3;
$light-blue: #03a9f4;
$red: #ef5350;
$yellow: #ffeb3b;
$amber: #ffc107;
$orange: #ff9800;
$black: #333;

.bg-white {
  background-color: $white!important;
}
.bg-grey {
  background-color: $grey!important;
}
.bg-light-grey {
  background-color: $light-grey!important;
}
.bg-very-light-grey {
  background-color: $very-light-grey!important;
}
.bg-dark-grey {
  background-color: $dark-grey!important;
}
.bg-green {
  background-color: $green!important;
}
.bg-light-green {
  background-color: $light-green!important;
}
.bg-lime {
  background-color: $lime!important;
}
.bg-indigo {
  background-color: $indigo!important;
}
.bg-blue {
  background-color: $blue!important;
}
.bg-light-blue {
  background-color: $light-blue!important;
}
.bg-red {
  background-color: $red!important;
}
.bg-yellow {
  background-color: $yellow!important;
}
.bg-amber {
  background-color: $amber!important;
}
.bg-orange {
  background-color: $orange!important;
}
.bg-black {
  background-color: $black!important;
}

.grey {
  color: $grey;
}
.light-grey {
  color: $light-grey;
}
.dark-grey {
  color: $dark-grey;
}
.green {
  color: $green;
}
.light-green {
  color: $light-green;
}
.lime {
  color: $lime;
}
.indigo {
  color: $indigo;
}
.blue {
  color: $blue;
}
.light-blue {
  color: $light-blue;
}
.red {
  color: $red;
}
.yellow {
  color: $yellow;
}
.amber {
  color: $amber;
}
.orange {
  color: $orange;
}
.black {
  color: $black;
}