
// FONT STACKS
$base-font-stack: 'Antic', sans-serif;
$menu-font-stack: 'Open Sans', sans-serif;
$quote-font-stack: 'Bitter', 'PT Sans', Tahoma, Verdana, sans-serif;
$icon-font-stack: 'Glyphicons Halflings';
$font-path: '../Fonts/';

// FONT_SIZES
$font-size-h1: 2.6rem;
$font-size-h2: 2.4rem;
$font-size-h3: 2.0rem;
$font-size-h4: 2.0rem;
$font-size-h5: 1.8rem;
$font-size-h6: 1.6rem;
$font-size-paragraph: 1.9rem;
$font-size-blockquote: 1.6rem;
$font-size-blockquote-author: 1.4rem;
$font-size-increased-first-letter: 5.3rem;

// ICON CONFIGURATION
$icon-external-link: '\e164';
$icon-chevron-right: '';
$icon-chevron-left: '';

// RESPONSIVE BREAKPOINTS
$break-desktop-1: 750px;
$break-desktop-2: 992px;
$break-desktop-3: 1170px;

// PADDINGS & MARGINS
$content-container-tiny-padding: 2.5%;
$content-container-page-padding: 5%;
$content-container-tiny-padding-1: 56px;
$content-container-page-padding-1: 112px;
$content-container-tiny-padding-2: 73px;
$content-container-page-padding-2: 146px;
$content-container-tiny-padding-3: 88px;
$content-container-page-padding-3: 176px;

$increased-first-letter-padding: 0.1rem 0.5rem 0 0;
$paragraph-margin: 3.6rem 0;
$blockquote-margin: 3.6rem 0;
$blockquote-quotes-margin: 0.2rem;
$button-padding: 0.3rem 0.5rem;
$button-angular-padding: 0.3rem 0.5rem;