// Bootstrap: Core variables and mixins
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins';

// Reset and dependencies
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/normalize';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/print';

// Bootstrap: Core CSS
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/scaffolding';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/type';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/code';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons';

// Bootstrap: Components
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/labels';

// Bootstrap: Fonts
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/glyphicons';

// Own Components / Stuff
@import 'mixins/transform';
@import 'mixins/box-shadow';
@import 'config';
@import 'colors';
@import 'fonts/glyphicons-halflings-regular';
@import 'fonts/antic-v7-latin-regular';
@import 'fonts/open-sans-v13-latin-regular';
@import 'fonts/open-sans-v13-latin-300';
@import 'fonts/open-sans-v13-latin-600';
@import 'fonts/bitter-v7-latin-regular';

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background-color: $white;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: $base-font-stack;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  @media screen and (min-width: $break-desktop-1) {
    background: url('../Images/background.svg.gz');
    background-color: $light-grey;
  }
}

div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image {
  margin-bottom: 0 !important;
}

@import 'partials/navigation';
@import 'partials/rte';
@import 'partials/content-elements';
@import 'partials/layouts';
@import 'partials/powermail';
@import 'partials/news';