{namespace n=GeorgRinger\News\ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>
			<div class="extended-width-no-margin-t">
				<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
				<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
			</div>
			<div class="header">
				<h2>
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<span itemprop="headline">{newsItem.title}</span>
					</n:link>
				</h2>
				<div class="subheader">
					<span class="date">
						<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
							<f:format.date format="%B %e, %G - %I:%M %p">{newsItem.datetime}</f:format.date>
							<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
						</time>
					</span>
				</div>
			</div>

			<f:if condition="{newsItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text" itemprop="description">
					<f:format.html>{newsItem.teaser}</f:format.html>
				</div>
			</f:if>

			<!-- main text -->
			<div class="news-text-wrap" itemprop="articleBody">
				<f:format.html>{newsItem.bodytext}</f:format.html>
			</div>

			<div class="extended-width-no-margin-b bg-very-light-grey footer">
				<f:if condition="{settings.backPid}">
					<!-- Link Back -->
					<div class="news-backlink-wrap">
						<f:link.page pageUid="{settings.backPid}">
							&laquo; Back to Blog
						</f:link.page>
					</div>
				</f:if>

				<f:if condition="{settings.detail.showSocialShareButtons}">

				</f:if>

				<f:if condition="{settings.detail.disqusShortname}">
					<div id="disqus_thread"></div>
					<n:social.disqus newsItem="{newsItem}"
									 shortName="{settings.detail.disqusShortname}"
									 link="{n:link(newsItem:newsItem, settings:settings, uriOnly:1, configuration:'{forceAbsoluteUrl:1}')}" />
				</f:if>
			</div>

		</f:then>
	</f:if>
</f:section>