{namespace n=GeorgRinger\News\ViewHelpers}
{namespace d=Jm\JmViewhelpers\ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>
			<div class="extended-width-no-margin-t">
				<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
				<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />
			</div>
			<div class="header">
				<h2>
					<n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
						<span itemprop="headline">{newsItem.title}</span>
					</n:link>
				</h2>
				<div class="subheader">
					<span class="date">
						<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}">
							<f:format.date format="%B %e, %G - %I:%M %p">{newsItem.datetime}</f:format.date>
							<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
						</time>
					</span>
				</div>
			</div>

			<f:if condition="{newsItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text" itemprop="description">
					<f:format.html>{newsItem.teaser}</f:format.html>
				</div>
			</f:if>

			<!-- main text -->
			<div class="news-text-wrap" itemprop="articleBody">
				<f:format.html>{newsItem.bodytext}</f:format.html>
			</div>

			<div class="extended-width-no-margin-b bg-very-light-grey footer comments">
				<input type="checkbox" checked><i></i><h2>Show Comments</h2>
				<div class="comments-disqus">
					<div class="disqus_thread"></div>
					<script type="text/javascript">
						(function() { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');
							s.src = '//jensmittag.disqus.com/embed.js';
							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
						})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				</div>
			</div>
			<div class="extended-width-no-margin-tb bg-white footer">
				<div class="news-backlink-wrap">
					<f:link.page pageUid="{settings.backPid}">
						&laquo; Back to Blog
					</f:link.page>
				</div>
			</div>
			<div class="share-buttons">
				<h2>Share</h2>
				<ul>
					<li class="bg-light-blue">
						<a href="{d:share(network: 'twitter', get: 'shareUrl', message: '', link: '{n:link(newsItem: newsItem, settings: settings, uriOnly: 1, configuration: { forceAbsoluteUrl: 1 })}', title: '{newsItem.title}', forceSSL: 1)}" target="_twitter">
							<span class="fa fa-twitter"></span>
						</a>
					</li>
					<li class="bg-indigo">
						<a href="{d:share(network: 'facebook', get: 'shareUrl', message: '', link: '{n:link(newsItem: newsItem, settings: settings, uriOnly: 1, configuration: { forceAbsoluteUrl: 1 })}', title: '{newsItem.title}', forceSSL: 1)}" target="_twitter">
							<span class="fa fa-facebook"></span>
						</a>
					</li>
					<li class="bg-light-green">
						<a href="{d:share(network: 'google-plus', get: 'shareUrl', message: '', link: '{n:link(newsItem: newsItem, settings: settings, uriOnly: 1, configuration: { forceAbsoluteUrl: 1 })}', title: '{newsItem.title}', forceSSL: 1)}" target="_twitter">
							<span class="fa fa-google-plus"></span>
						</a>
					</li>
					<li class="bg-lime">
						<a href="{d:share(network: 'linkedin', get: 'shareUrl', message: '', link: '{n:link(newsItem: newsItem, settings: settings, uriOnly: 1, configuration: { forceAbsoluteUrl: 1 })}', title: '{newsItem.title}', forceSSL: 1)}" target="_twitter">
							<span class="fa fa-linkedin"></span>
						</a>
					</li>
				</ul>
			</div>

		</f:then>
	</f:if>
</f:section>